<h1><%= @question.header %></h1>
<h3>-<%= @question.author %></h3>
<p><%= @question.body %></p>


<% if @question.answers.any? %>
<ul>
  <% @question.answers.each do |answer| %>
  <li><%= answer.author %> says:<br>
  <blockquote>"<%= answer.body %>"</blockquote>
<p><%= link_to "Like", question_path(:answer_id => answer.id), :data => {:method => "patch"} %> <%= answer.vote_number %></p></li>
  <% end %>
</ul>
<% else %>
  <p>Be the first to answer this question, no pressure</p>
<% end %>



<p><%= link_to "Add An Answer", new_question_answer_path(@question)%></p>
